server {
    listen 8080;
    server_name localhost;

    location / {
        root /opt/dist;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    location /record_proxy/ {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header REMOTE-HOST $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://127.0.0.1:18978/;
    }

    location ^~ /channel/ {
        proxy_pass http://127.0.0.1:18978;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header REMOTE-HOST $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 3600s;
    }

    location /api/ {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header REMOTE-HOST $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://127.0.0.1:18978;

        set $original_host ${Stream_IP};

        sub_filter "http://$original_host/index/api/downloadFile" "mediaserver/api/downloadFile";
        sub_filter "http://$original_host:80/index/api/downloadFile" "mediaserver/api/downloadFile";
        sub_filter "https://$original_host/index/api/downloadFile" "mediaserver/api/downloadFile";
        sub_filter "https://$original_host:443/index/api/downloadFile" "mediaserver/api/downloadFile";
        sub_filter "http://$original_host/mp4_record" "mp4_record";
        sub_filter "http://$original_host:80/mp4_record" "mp4_record";
        sub_filter "https://$original_host/mp4_record" "mp4_record";
        sub_filter "https://$original_host:443/mp4_record" "mp4_record";
        sub_filter "ws://$original_host/mp4_record" "mp4_record";
        sub_filter "ws://$original_host:80/mp4_record" "mp4_record";
        sub_filter "wss://$original_host/mp4_record" "mp4_record";
        sub_filter "wss://$original_host:443/mp4_record" "mp4_record";

        sub_filter_once off;
        sub_filter_types application/json;
    }

    location ^~ /index/api/ {
        proxy_pass http://polaris-media:${MediaHttp}/index/api/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_connect_timeout 60s;
        proxy_read_timeout 3600s;
        proxy_send_timeout 60s;
    }

    location /mediaserver/api/downloadFile {
        proxy_pass http://polaris-media:${MediaHttp}/index/api/downloadFile;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_connect_timeout 300s;
        proxy_send_timeout 300s;
        proxy_read_timeout 300s;
    }

    location ^~ /rtp/ {
        proxy_pass http://polaris-media:${MediaHttp};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_connect_timeout 60s;
        proxy_read_timeout 3600s;
        proxy_send_timeout 60s;
    }

    location ^~ /mp4_record/ {
        proxy_pass http://polaris-media:${MediaHttp};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_connect_timeout 60s;
        proxy_read_timeout 3600s;
        proxy_send_timeout 60s;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root html;
    }
}
