@use './variables' as variables;

:export {
  menuText: variables.$menuText;
  menuActiveText: variables.$menuActiveText;
  subMenuActiveText: variables.$subMenuActiveText;
  menuBg: variables.$menuBg;
  menuHover: variables.$menuHover;
  subMenuBg: variables.$subMenuBg;
  subMenuHover: variables.$subMenuHover;
  sideBarWidth: variables.$sideBarWidth;
  sideBarCollapsedWidth: variables.$sideBarCollapsedWidth;
}
