// sidebar
$menuText: #cbd5e1;
$menuActiveText: #ffffff;
$subMenuActiveText: #ffffff;

$menuBg: #111827;
$menuHover: rgba(255, 255, 255, 0.06);

$subMenuBg: #111827;
$subMenuHover: rgba(255, 255, 255, 0.06);

$sideBarWidth: 232px;
$sideBarCollapsedWidth: 64px;
